.btn {
  border-radius: 40px;
  font-size: 16pt;
  color: white;
  background: #fc6011;
  border: none;
  padding: 20px 140px;
}
.btn-brd {
  color: #fc6011;
  background: #ffff;
  border: #fc6011 solid 1px;
}
.btn-fb {
  background: #367fc0;
}
