.btn {
  border-radius: 40px;
  font-size: 16pt;
  color: white;
  background: var(--main-color);
  border: none;
  padding: 20px 140px;
}
.btn-brd {
  color: var(--main-color);
  background: #ffff;
  border: var(--main-color) solid 1px;
}
.btn-fb {
  background: #367fc0;
}
