figure {
  padding: 5px;
  max-width: 100px;
  margin: 0;
}

img {
  width: 88px;
  height: 88px;
  border-radius: 10px;
}

figcaption {
  color: rgb(0, 0, 0);
  font: bold smaller sans-serif;
  padding-top: 3px;
  text-align: center;
}
.card-container {
  display: grid;

  grid-template-rows: auto;
  grid-auto-flow: column;
  overflow-x: auto;
}
/* 
.card-container::-webkit-scrollbar {
  display: none;
} */
